#cart-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid red; */
    margin: auto;
    gap: 25px;
  }
  #cart-container>div{
    height: auto;
    padding-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    padding-bottom: 20px;
  }
  #cart-container>div>img{
    width: 100%;
  }
  #cart-container>div>button{
   display: block;
   margin: auto;
   border: none;
   background-color: rgb(224, 56, 56);
   border-radius: 5px;
   font-size: 15px;
   margin-bottom: 1px;
   margin-top: 10px;
   width: 60%;
   color: rgb(255, 255, 255) ;
   cursor: pointer;
  }
  
  #cart-container>div>div{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    
  }
  #cart-container>div>div button{
    width: 20%;
    font-size: 15px;
    background-color: rgb(224, 56, 56);
    border: none;
    border-radius: 3px;
  }
  #wishTitle{
    display: flex;
    justify-content: space-between;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color:  rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    color: rgb(176, 88, 41);
    margin-bottom: 15px;
    margin-top: 1px;
    font-family: sans-serif;
    font-weight: bold;
}
.checkout{
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.checkout a button{
    color: rgb(224, 56, 56); 
    height: 70%;
    font-size: 30px;
    background-color: white;
    border: ridge;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.checkout a button:hover{
    background-color: rgb(219, 191, 176);
}
.total{   
    margin-left: 25%;
}
/* ///////////////////////////////////////////////////////// */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(255,255,255) ;
}
#container{
    width: 100%;
    height: 80px;
    display: grid;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   
}
.nav{
    width: 80%;
    height: 60%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* background-color: red; */
}
#logo{
    width: 10%;
    height: auto
}
#cart-logo{
    width: 0%;
    height: 10px;
}

.nav button img{
    width: 100%;
    height: 40px;
}
.nav>div:nth-child(1) button{
    width: 130px;
    height: 60px;
    margin-top: -5px;
}
.nav>div:nth-child(1) button img{
    width: 130px;
    height: 100%;
}
#search{
    width: 50%;
    height: 80%;
    font-size: 20px;
    border-radius: 5px;
    padding-top: 2px;
}
#search:hover{
    opacity: 0.3;
}

#logbtn:hover{
    background-color: rgb(42, 108, 108);
}

.nav button{
    cursor: pointer;
}
