#filter-div{
    width: 100%;
    height:55px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    margin-bottom: 10px;
    /* margin-top: 12px; */
}
#filter-div>div{
    width: 80%;
    height: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.nav2 select{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   cursor: pointer;
}
.nav2 select:hover{
    opacity: 0.6;

}
.nav2>div:nth-child(1){
    width: 70%;
    padding-top: 10px;
}
.nav2>div:nth-child(2){
    height: 100%;
    width: 20%;
   
}
.nav2:nth-child(1)>div select{
    width: 30%;
    height: 80%;
    
}
.wishlist img{
    width: 100%;
    height: 40px;
}

.wishlist button{
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 5px;
   
}
.wishlist button:hover{
    opacity: 0.7;
   
}
#slideshow{
    width: 80%;
    margin: auto;
}
#slideshow>img{
    width: 100%;
}
.pword{
    margin: auto;
    text-align: center;
}